.tourist-spots-inputs {
    margin-bottom: -20px;
}

.tourist-spots-wrapper-text {
    position: relative;
    margin: -16px 680px 4px 342px;
}

.tourist-spots-wrapper-image {
    display: block;
    border: 1px solid #bdbdbd;
    margin: 0 864px 60px 0;
}

.tourist-spots-input-image {
    display: none;
}

.tourist-spots-input-image-span {
    text-align: center;
}

.tourist-spots-input-title {
    width: 326px;
    height: 54px;
    padding: 10px;
    border-radius: 3.5px;
}

.tourist-spots-input-description {
    width: 414px;
    height: 132px;
    margin-top: 17px;
    margin-bottom: 34px;
    padding: 10px;
}

.tourist-spots-form-submit-button {
    padding: 16px 20px;
    margin-left: 302px;
    border-radius: 8px;
}