* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--gray-500);
}

h2 {
    color: var(--gray-500);
}

button {
    cursor: pointer;
    color: var(--white);
    background: var(--red-300);
    border: 1px solid #FF5A5F;
}