@import "global.css";
@import "variables.css";
@import "forms.css";


.tourist-spots-container {
    max-width: 1440px;
    height: 1165px;
    position: relative;
    margin: 0 auto;
    padding: 0 130px;
}

.tourist-spots-title {
    margin: 32px 0;
    font-size: 32px;
}

.tourist-spots-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
}

.card {
    padding: 94px 8px 40px 46px
}

.tourist-spots-result-h2 {
    padding: 0 10px 12px 312px;
    margin-top: -206px;
}

.tourist-spots-result-description {
    max-width: 300px;
    padding: 10px 20px;
    margin-left: 290px;
}
